<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container p-5">
        <div class="navbar">
            <a href="#m-one" class="m-one">Empresa 1</a>
            <a href="#m-two" class="m-two">Empresa 2</a>
            <a href="#m-three" class="m-three">Empresa 3</a>
        </div>
        <div class="dashboard">
            <div class="col bg-by c-2 r-4">
                1
            </div>
            <div class="col bg-nny c-4 r-4">
                2
            </div>
            <div class="col bg-ny c-4 r-2">
                3
            </div>
            <div class="col bg-n c-1 r-2">
                4
            </div>
            <div class="col bg-y c-1 r-4">
                5
            </div>
            <div class="col bg-nyn c-4 r-4">
                6
            </div>
            <div class="col bg-n c-1 r-2">
                7
            </div>
            <div class="col bg-n c-1 r-2">
                8
            </div>
            <div class="col bg-b c-1 r-2">
                9
            </div>
        </div>
        <div class="ejm">
            <ul>
                <li>1. ejemplo 1</li>
                <li>2. ejemplo 2</li>
                <li>3. ejemplo 3</li>
                <li>4. ejemplo 4</li>
            </ul>         
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>