<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="bg-box">
        <div class="bg"></div>
        <div class="bg"></div>
        <div class="bg"></div>
        <div class="bg"></div>
    </div>

    <div class="carousel">
        <div class="list-img">
            <div class="item">
                <img src="">
            </div>

            <div class="item">
                <img src="">
            </div>

            <div class="item">
                <img src="">
            </div>

            <div class="item">
                <img src="">
            </div>
        </div>
        <div class="box-info">
            <div class="list-info">
                <div class="info">
                    <h2>1</h2>
                    <p>lorem</p>
                </div>

                <div class="info">
                    <h2>2</h2>
                    <p>lorem</p>
                </div>

                <div class="info">
                    <h2>3</h2>
                    <p>lorem</p>
                </div>

                <div class="info">
                    <h2>4</h2>
                    <p>lorem</p>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <span class="prev-btn">
            <i class='bx bx-chevron-left'></i>
        </span>
        <span class="next-btn">
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>

    <div class="smart">
        <div class="container">
            <div class="dashboard">
                <div class="col bg-by c-2 r-2">
                    <div class="wrapper">
                        <div class="bar-seconds"></div>
                        <div class="number-hours"></div>
                        <div class="hands-box">
                            <div class="hand hours"><i></i></div>
                            <div class="hand minutes"><i></i></div>
                            <div class="hand seconds"><i></i></div>
                        </div>
                    </div>
                </div>
                <div class="col bg-nny c-4 r-2">
                    <canvas id="incomeExpenseChart"></canvas>
                </div>
                <div class="col bg-ny c-3 r-2">
                    <canvas id="waterChart"></canvas>
                </div>
                <div class="col bg-y c-3 r-2">
                    <canvas id="electricityChart"></canvas>
                </div>
                <div class="col bg-n c-4 r-1 clima">
                    <div id="forecast"></div>
                </div>
                <div class="col bg-nyn c-2 r-1 box-nota">
                    <div class="nota-rapida-container">
                        <h3 class="nota-rapida-titulo">Nota Rápida</h3>
                        <textarea id="nota-texto" class="nota-rapida-texto" placeholder="Escribe tu nota aquí..."></textarea>
                        <div class="nota-rapida-botones">
                            <button id="editar-nota" class="nota-rapida-boton nota-rapida-boton-editar">Guardar Nota</button>
                            <button id="eliminar-nota" class="nota-rapida-boton nota-rapida-boton-eliminar">Eliminar Nota</button>
                        </div>
                    </div>
                </div>
                <div class="col bg-n c-2 r-2 body-calendar">
                    <div class="calendar">
                        <div class="calendar-header">
                            <span class="month-picker" id="month-picker">February</span>
                            <div class="year-picker">
                                <span class="year-change" id="prev-year"><</span>
                                <span id="year">2021</span>
                                <span class="year-change" id="next-year">></span>
                            </div>
                        </div>
                        <div class="calendar-body">
                            <div class="calendar-week-day">
                                <div>Dom</div>
                                <div>Lun</div>
                                <div>Mar</div>
                                <div>Mie</div>
                                <div>Jue</div>
                                <div>Vie</div>
                                <div>Sab</div>
                            </div>
                            <div class="calendar-days"></div>
                        </div>
                        <div class="month-list"></div>
                    </div>
                </div>
                <div class="col bg-n c-2 r-2">
                    <canvas id="environmentalRadarChart"></canvas>
                </div>
                <div class="col bg-b c-2 r-2 bot-container">
                    <button class="bot" onclick=""></button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>