<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function activateBot(command) {
            fetch("{% url 'home' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    'command': command
                })
            }).then(response => response.json()).then(data => {
                console.log(data.status);
                if (!window.speechSynthesis.speaking) { // Verifica si no está hablando ya
                    var audio = new SpeechSynthesisUtterance(data.response);
                    window.speechSynthesis.speak(audio);
                    alert("Bot response: " + data.response);
                }
            }).catch(error => {
                console.error('Error:', error);
                alert("Error activating bot");
            });
        }
        
        function startRecognition() {
            var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
            recognition.lang = 'es-ES';
            recognition.interimResults = false; // Asegúrate de que los resultados intermedios estén deshabilitados
            recognition.maxAlternatives = 1;
        
            recognition.onresult = function(event) {
                var command = event.results[0][0].transcript;
                console.log('Command received: ' + command);
                // Evitar múltiples llamadas en un solo resultado
                if (event.results[0].isFinal) {
                    activateBot(command);
                }
            };
        
            recognition.onerror = function(event) {
                console.error('Error occurred in recognition: ' + event.error);
                alert('Error occurred in recognition: ' + event.error);
            };
        
            recognition.onend = function() {
                console.log('Speech recognition service disconnected');
            };
        
            recognition.start();
        }
    </script>
</head>
<body>
    <div class="bg-box">
        <div class="bg"></div>
        <div class="bg"></div>
        <div class="bg"></div>
        <div class="bg"></div>
    </div>

    <div class="carousel">
        <div class="list-img">
            <div class="item">
                <img src="{% static 'img/slider1.png' %}" alt="nosotros">
            </div>

            <div class="item">
                <img src="{% static 'img/slider2.png' %}" alt="nosotros">
            </div>

            <div class="item">
                <img src="{% static 'img/slider3.png' %}" alt="nosotros">
            </div>

            <div class="item">
                <img src="{% static 'img/slider4.png' %}" alt="nosotros">
            </div>
        </div>
        <div class="box-info">
            <div class="list-info">
                <div class="info">
                    <h2>Dashboard Integral de Sostenibilidad Empresarial</h2>
                    <p>Bienvenido a nuestro dashboard de sostenibilidad empresarial. Esta pantalla unificada te brinda acceso instantáneo a toda la información clave que necesitas para monitorear tanto el rendimiento financiero como los indicadores ambientales de tu empresa. Todo en un solo lugar para que puedas tomar decisiones informadas rápidamente.</p>
                </div>

                <div class="info">
                    <h2>Monitoreo de Finanzas y Uso de Recursos</h2>
                    <p>En la parte superior, encontrarás herramientas esenciales para la gestión de tus operaciones, incluyendo un reloj en tiempo real y gráficos que te permiten seguir de cerca los ingresos, gastos, y el consumo de agua por metro cúbico. Estos indicadores te proporcionan una visión clara y detallada de cómo se están utilizando los recursos de tu empresa.</p>
                </div>

                <div class="info">
                    <h2>Indicadores Ambientales y Condiciones Climáticas</h2>
                    <p>Justo debajo, te presentamos un resumen de las condiciones climáticas actuales, esenciales para planificar tus actividades diarias. A la derecha, un radar de indicadores ambientales te ofrece una visión completa sobre tu huella de carbono, la inversión en sostenibilidad, y la gestión de residuos, permitiéndote ver cómo tus decisiones impactan el medio ambiente.</p>
                </div>

                <div class="info">
                    <h2>Asistencia Inteligente y Notas Rápidas</h2>
                    <p>Para facilitar tu experiencia, hemos incorporado una sección de notas rápidas donde puedes registrar tus observaciones o ideas en cualquier momento. Además, contamos con un bot inteligente que puede resumir toda la información presentada en la pantalla, ahorrándote tiempo y asegurando que no te pierdas de los detalles más importantes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <span class="prev-btn">
            <i class='bx bx-chevron-left'></i>
        </span>
        <span class="next-btn">
            <i class='bx bx-chevron-right'></i>
        </span>
    </div>

    <div class="smart">
        <div class="container">
            <div class="dashboard">
                <div class="col bg-by c-2 r-2">
                    <div class="wrapper">
                        <div class="bar-seconds"></div>
                        <div class="number-hours"></div>
                        <div class="hands-box">
                            <div class="hand hours"><i></i></div>
                            <div class="hand minutes"><i></i></div>
                            <div class="hand seconds"><i></i></div>
                        </div>
                    </div>
                </div>
                <div class="col bg-nny c-4 r-2">
                    <canvas id="incomeExpenseChart"></canvas>
                </div>
                <div class="col bg-ny c-3 r-2">
                    <canvas id="waterChart"></canvas>
                </div>
                <div class="col bg-y c-3 r-2">
                    <canvas id="electricityChart"></canvas>
                </div>
                <div class="col bg-n c-4 r-1 clima">
                    <div id="forecast"></div>
                </div>
                <div class="col bg-nyn c-2 r-1 box-nota">
                    <div class="nota-rapida-container">
                        <h3 class="nota-rapida-titulo">Nota Rápida</h3>
                        <textarea id="nota-texto" class="nota-rapida-texto" placeholder="Escribe tu nota aquí..."></textarea>
                        <div class="nota-rapida-botones">
                            <button id="editar-nota" class="nota-rapida-boton nota-rapida-boton-editar">Guardar Nota</button>
                            <button id="eliminar-nota" class="nota-rapida-boton nota-rapida-boton-eliminar">Eliminar Nota</button>
                        </div>
                    </div>
                </div>
                <div class="col bg-n c-2 r-2 body-calendar">
                    <div class="calendar">
                        <div class="calendar-header">
                            <span class="month-picker" id="month-picker">February</span>
                            <div class="year-picker">
                                <span class="year-change" id="prev-year"><</span>
                                <span id="year">2021</span>
                                <span class="year-change" id="next-year">></span>
                            </div>
                        </div>
                        <div class="calendar-body">
                            <div class="calendar-week-day">
                                <div>Dom</div>
                                <div>Lun</div>
                                <div>Mar</div>
                                <div>Mie</div>
                                <div>Jue</div>
                                <div>Vie</div>
                                <div>Sab</div>
                            </div>
                            <div class="calendar-days"></div>
                        </div>
                        <div class="month-list"></div>
                    </div>
                </div>
                <div class="col bg-n c-2 r-2">
                    <canvas id="environmentalRadarChart"></canvas>
                </div>
                <div class="col bg-b c-2 r-2 bot-container">
                    <button class="bot" onclick="startRecognition()"></button>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>