@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    background-color: #101010;
}
.bg-y{
    background-color: #d7ff00;
}
.bg-b{
    background-color: #547fdd;
}
.bg-n{
    background-color: #232323;
}
.bg-ny{
    background: linear-gradient(90deg, rgba(42,44,33,1) 0%, rgba(35,35,35,1) 50%, rgba(47,49,35,1) 100%);
}
.bg-nyn{
    background: linear-gradient(90deg, rgba(35,35,35,1) 0%, rgba(47,49,35,1) 50%, rgba(35,35,35,1) 100%);
}
.bg-by{
    background: linear-gradient(45deg, rgba(121,150,146,1) 0%, rgba(98,140,187,1) 50%, rgba(84,122,223,1) 100%);
}
.bg-nny{
    background: linear-gradient(135deg, rgba(35,35,35,1) 0%, rgba(38,38,36,1) 50%, rgba(46,48,37,1) 100%);
}
.navbar{
    display: grid;
    padding: 0;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 1rem;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 40px;
    text-align: center;
    border: 2px solid #ffffff;
    margin-left: 20px;
    font-weight: 500;
}
.navbar a:hover {
    background-color: #ffffff;
    color: #000000;
}
.m-one{
    grid-column-start: 4;
    grid-column-end: 5;
}
.m-two{
    grid-column-start: 5;
    grid-column-end: 6;
}
.m-three{
    grid-column-start: 6;
    grid-column-end: 7;
}
.smart{
    background-image: url(../img/smartwatch.png);
    background-size: cover;
    margin: 100px 0;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content;
    gap: 5px;
    max-width: 1140px;
}
.dashboard .col {
    border-radius: 20px;
    padding: 15px 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-1 {
    grid-column: span 1;
}
.c-2 {
    grid-column: span 2;
}
.c-3 {
    grid-column: span 3;
}
.c-4 {
    grid-column: span 4;
}
.r-1 {
    grid-row: span 1;
}
.r-2 {
    grid-row: span 2;
}
.r-3 {
    grid-row: span 3;
}
.r-4 {
    grid-row: span 4;
}
.ejm{
    margin-top: 2rem;
    color: #ffffff;
    font-size: 2.5rem;
}
.ejm ul{
    list-style-type: none;
    padding: 0;
}
.container{
    padding: 160px 0 100px 0;
}
.wrapper{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar-seconds, .number-hours{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.bar-seconds span{
    position: absolute;
    transform: rotate(calc(var(--index) * 6deg));
    inset: -5px;
    text-align: center;
}
.bar-seconds span p{
    display: inline-block;
    width: 2px;
    height: 5px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 10px #ffffff;
}
.bar-seconds span:nth-child(5n) p{
    width: 3px;
    height: 10px;
    transform: translateY(.5px);
}
.number-hours span{
    position: absolute;
    transform: rotate(calc(var(--index) * 30deg));
    inset:6px;
    text-align: center;
}
.number-hours span p{
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff;
    transform: rotate(calc(var(--index) * -30deg));
}
.hands-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hands-box .hand{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hands-box .hand i{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    display: inline-block;
    transform-origin: bottom center;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffffff;
}
.hands-box .hours{
    width: 120px;
    height: 120px;
}
.hands-box .hours i{
    width: 3px;
    height: 60px;
    background: #ffffff;
}
.hands-box .minutes{
    width: 150px;
    height: 150px;
}
.hands-box .minutes::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 5px #ffffff;
}
.hands-box .minutes i{
    width: 3px;
    height: 75px;
    background: #ffffff;
}
.hands-box .seconds{
    width: 180px;
    height: 180px;
}
.hands-box .seconds::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background: #d7ff00;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
.hands-box .seconds i{
    width: 2px;
    height: 90px;
    background: #d7ff00;
    box-shadow: none;
}

.carousel{
    height: 100vh;
    padding: 0 10%;
    overflow: hidden;
}
.carousel .box-info{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 650px;
    height: 250px;
    overflow: hidden;
}
.box-info .list-info{
    transition: 1s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.list-info .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    height: 250px;
}
.info h2{
    font-size: 50px;
    line-height: 1;
}
.info p{
    font-size: 16px;
    margin: 20px 0;
}
.carousel .list-img{
    height: 100%;
    transition: 1s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.list-img .item{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.item img{
    position: absolute;
    right: 0;
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0,0,0,.1));
}
.navigation{
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.navigation span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    margin: 0 10px;
    font-size: 55px;
    color: #ffffff;
}
.bg-box .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.bg-box .bg:nth-child(1){
    background: linear-gradient(360deg, #101010, rgba(47,49,35,1));
}
.bg-box .bg:nth-child(2){
    background: linear-gradient(360deg, rgba(84,122,223,1), rgba(121,150,146,1));
}
.bg-box .bg:nth-child(3){
    background: linear-gradient(360deg, #101010, rgba(47,49,35,1));
}
.bg-box .bg:nth-child(4){
    background: linear-gradient(360deg, rgba(84,122,223,1), rgba(121,150,146,1));
}
.bg-box .bg:nth-child(2),.bg-box .bg:nth-child(3),.bg-box .bg:nth-child(4){
    clip-path: circle(0% at 50% 50%);
}
.bg-box .bg:nth-child(2).active,.bg-box .bg:nth-child(3).active,.bg-box .bg:nth-child(4).active{
    clip-path: circle(75% at 50% 50%);
}

.clima{
    display: inline-block!important;
}
#forecast{
    display: flex;
}
.box-app{
    position: relative;
    width: 100%;
    height: 220px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    margin: 0 7.5px;
}
.weather-box{
    text-align: center;
    margin: 10px 0;
}
.weather-box img{
    width: 60%;
}
.weather-box .temperature{
    position: relative;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
}
.weather-box .temperature span{
    font-size: 18px;
    margin-left: 4px;
}
.weather-box .description{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-details{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 10px;
    display: flex;
}
.weather-details .humidity,.weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
}
.weather-details .humidity{
    justify-content: flex-start;
}
.weather-details .wind{
    justify-content: flex-end;
}
.weather-details i{
    font-size: 15px;
    margin-right: 5px;
}
.weather-details span{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}
.chart-container {
    width: 100%;
    height: 400px;
    position: relative;
    margin: auto;
}
.bot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0!important;
}
.bot {
    width: 100%;
    height: 100%;
    font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-image: url('../img/bot.png');
    background-color: transparent;
    background-size: cover; /* Asegura que la imagen cubra todo el botón */
    background-position: center; /* Centra la imagen en el botón */
}

/** Integracion Calendario **/

:root {
    --bg-body: rgba(255, 255, 255, .1);
    --bg-main: #2e2e2e;
    --bg-second: #3e3e3e;
    --color-hover: #5e5e5e;
    --color-txt: #ffffff;
    --blue: #1a73e8;
    --white: #ffffff;
}

.body-calendar {
    background-color: var(--bg-body);
    color: var(--color-txt);
    max-height: 100%;
    padding: 0!important;
    align-items: normal!important;
}

.calendar {
    height: auto;
    width: 100%;
    background-color: var(--bg-main);
    border-radius: 20px;
    padding: 15px;
    position: relative;
    overflow: hidden;
    color: var(--color-txt); /* Asegurando color del texto */
}

.calendar-header, .calendar-body, .calendar-footer {
    width: 100%;
    color: var(--color-txt); /* Asegurando color del texto */
}

.calendar-week-day div, .calendar-days div {
    color: var(--color-txt); /* Asegurando color del texto */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 400;
    text-align: center;
}

.calendar-week-day div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    text-align: center;
}

.calendar-days div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: to-top 1s forwards;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var (--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50%;
}

.month-picker {
    padding: 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--color-hover);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--bg-main);
    padding: 10px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: auto;
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 5px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/** Notas **/

.nota-rapida-container {
    border-radius: 10px;
    color: #ffffff; /* Texto blanco para contrastar */
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}

.nota-rapida-titulo {
    margin: 0;
    font-size: 15px;
    text-align: center;
    color: #ffffff; /* Título en gris claro */
    margin-bottom: 10px;
}

.nota-rapida-texto {
    flex-grow: 1; /* Permite que el textarea ocupe el espacio disponible */
    resize: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, .1); /* Fondo más claro con transparencia */
    box-shadow: 0 0 10px rgba(255, 255, 255, .1);
    color: #ffffff; /* Texto claro */
    font-size: 13px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 10px;
    outline:none;
}

.nota-rapida-botones {
    display: flex;
    justify-content: space-between;
}

.nota-rapida-boton {
    padding: 5px 12px;
    font-size: 12px;
    color: #ffffff;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nota-rapida-boton:hover {
    background-color: #ffffff;
    color: #000000;
}

.box-nota{
    padding: 15px!important;
}